.typography-header--about-us h1 {
  font-size: 2.25rem;
  /* 36px */
  line-height: 3.125rem;
  /* 50px */
}

.title-description {
  text-align: start;
}

@media (min-width: 768px) {
  .typography-header--about-us {
    background-image: url("../images/about-us-header.png");
    background-size: 50vw auto;
    background-position: right bottom;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .about-card {
    width: 23.5rem;
    /* 376px */
  }
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  /* 20px */
  padding-bottom: 0.9375rem;
  /* 15px */
  mix-blend-mode: normal;
  border-radius: 5px;
}

.about-card p {
  font-size: 0.8125rem;
  /* 13px */
  line-height: 1.5625rem;
  /* 25px */
  color: #000000;
}

.about-card--green {
  background: rgba(74, 85, 125, 0.1);
  border-bottom: 5px solid #81c677;
}

.about-card--yellow {
  background: rgba(162, 171, 200, 0.1);
  border-bottom: 5px solid #f5bf2f;
}

.about-section {
  background: linear-gradient(to bottom, #fff 47.5%, #4a557d 47.5%);
  background-size: auto 100%;
}

@media (min-width: 768px) {
  .about-section {
    background: url("../images/about-us-vector.png") no-repeat left,
      linear-gradient(to right, #fff 50%, #4a557d 50%);
    background-size: auto 100%;
  }
}

.about-half-section {
  padding-bottom: 4.6875rem;
  /* 75px */
}

@media (min-width: 768px) {
  .about-half-section--identity {
    padding-right: 5.3125rem;
    /* 85px */
  }

  .about-half-section--mission {
    padding-left: 3.5625rem;
    /* 57px */
    padding-right: 8.3125rem;
    /* 133px */
  }
}

.about-half-section__title {
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  /* 16px */
  line-height: 1.5;
  padding-bottom: 0.125rem;
  /* 2px */
  margin-top: 0;
  margin-bottom: 2.8125rem;
  /* 45px */
}

.about-half-section__title--green {
  color: #4a557d;
  border-bottom: 3px solid #81c677;
}

.about-half-section__title--yellow {
  border-bottom: 3px solid #f5bf2f;
}

.about-half-section--mission .about-half-section__title,
.about-half-section--mission h2,
.about-half-section--mission p,
.about-half-section__title--yellow {
  color: #fff;
}

.about-half-section__highlight {
  font-weight: 600;
  font-size: 1.625rem;
  /* 26px */
  line-height: 2.75rem;
  /* 44px */
  text-align: start;
  margin-bottom: 2.5rem;
  /* 40px */
}

.about-half-section__description {
  font-size: 0.8125rem;
  /* 13px */
  line-height: 1.5625rem;
  /* 25px */
  margin-bottom: 1.5625rem;
  /* 25px */
}

.btn--purple,
.btn--purple:hover,
.btn--green,
.btn--green:hover {
  color: #fff;
}

.btn--purple,
.btn--green {
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  border-radius: 3px;
}

.btn--purple,
.btn--purple:hover {
  padding: 0.75rem 1.875rem;
  /* 12px 30px */
  background: #4a557d;
  border: 1px solid #4a557d;
}

.btn--green,
.btn--green:hover {
  padding: 0.4375rem 2.1875rem;
  /* 7px 35px */
  background: #81c677;
  border: 1px solid #81c677;
}

.btn--margin-top.btn--purple {
  margin-top: 3.75rem;
  /* 60px */
}

.btn--margin-top.btn--green {
  margin-top: 3rem;
  /* 48px */
}

.team-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  background: #ffffff;
  border: 1px solid #d5d9e6;
  box-sizing: content-box;
  border-radius: 5px;
}

.team-card:hover {
  box-shadow: 0px 9px 18px rgba(74, 85, 125, 0.2);
}

.team-card--pink {
  border-bottom: 6px solid #f05f87;
}

.team-card--yellow {
  border-bottom: 6px solid #f5bf2f;
}

.team-card--purple {
  border-bottom: 6px solid #6572a4;
}

.team-card--green {
  border-bottom: 6px solid #65ba59;
}

.team-card__image {
  display: block;
  width: 100%;
  border-radius: 3px 3px 5px 5px;
}

.team-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.25rem 2.125rem;
  /* 20px 34px */
  flex-grow: 1;
}

.team-card-body__name,
.team-card-body__title,
.team-card-body__bio-toggle {
  text-align: center;
  margin: 0;
}

.team-card-body__name,
.team-card-body__title {
  color: #000000;
}

.team-card-body__name {
  font-weight: 600;
  font-size: 1rem;
  /* 16px */
  line-height: 1.25;
}

.team-card-body__title,
.team-card-body__bio-toggle {
  font-size: 0.8125rem;
  /* 13px */
  line-height: 1.5625rem;
  /* 25px */
}

.team-card-body__title {
  display: none;
}

.team-card-body__bio-toggle {
  bottom: 0;
  margin-top: auto;
}

.team-card-body__bio-toggle:hover {
  text-decoration: underline !important;
}

.join-team-section {
  background: url("../images/join-our-team-section.png") no-repeat right,
    #4a557d;
  background-size: auto 100%;
  padding-top: 3.75rem;
  /* 60px */
  padding-bottom: 14.0625rem;
  /* 225px */
}

.join-team-icon {
  margin-left: 6rem;
  margin-bottom: 3.375rem;
  /* 54px */
}

.join-team-highlight {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #f1f2f7;
  text-align: start;
  margin: 0;
}

@media (min-width: 768px) {
  .profile-modal .modal-content {
    width: 33.25rem;
  }
}

.profile-modal .modal-content {
  padding: 1.25rem;
  border-radius: 10px;
  border-bottom: 11px solid #f05f87;
}

.profile-modal__close {
  position: absolute;
  top: 0.625rem;
  /* 10px */
  right: 0.625rem;
  /* 10px */
  width: 1.5rem;
  /* 24px */
  height: 1.5rem;
  /* 24px */
  cursor: pointer;
}

.profile-modal-header {
  display: flex;
}

.profile-modal-header__image {
  width: 100%;
  padding-top: 16px;
}

@media (min-width: 768px) {
  .profile-modal-header__image {
    padding-top: initial;
  }
}

.profile-modal-header__name {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
  color: #000000;
}

.profile-modal-header__title,
.profile-modal-body p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #000000;
  margin-bottom: 0;
  text-align: start;
}

.profile-modal-social {
  margin-top: 0.625rem;
}

.profile-modal-body {
  margin-top: 1.875rem;
  margin-bottom: 2.75rem;
}
