@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400,500;700&display=swap");

.container-fluid {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-weight: 400;
  margin-top: 2rem;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: 700;
}

.typography-header--about-us h1 {
  font-size: 2.25rem;
  /* 36px */
  line-height: 2.75rem;
  /* 44px */
  margin-bottom: 1.8125rem;
  /* 29px */
}

.title-description {
  font-size: 1rem;
  line-height: 25px;
  text-align: start;
}

.typography-header--about-us .title-description {
  margin: 0;
}

@media (min-width: 768px) {
  .typography-header--about-us {
    background: right bottom / auto 100% no-repeat
        url("../images/about-us-header.svg"),
      #f4f6ff;
  }
}

@media (min-width: 1400px) {
  .typography-header--about-us {
    padding-top: 9.125rem;
    /* 146px */
    padding-bottom: 3.875rem;
    /* 62px */
  }
}

@media (min-width: 768px) {
  .about-card {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .about-card,
  .mission-section__description {
    max-width: 33.375rem;
    /* 534px */
  }
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 18px 21px;
  /* 25px */
  mix-blend-mode: normal;
  border-radius: 5px;
}

.about-card p {
  font-size: 0.8125rem;
  /* 13px */
  line-height: 1.5625rem;
  /* 25px */
  margin: 0;
  text-align: start;
  font-weight: 500;
}

.about-card--pink p {
  color: #f05f87;
}

.about-card--pink {
  border-bottom: 7px solid #f05f87;
}

.mission-section {
  color: #050608;
  padding-top: 8.875rem;
  padding-bottom: 10.3125rem;
}

@media (min-width: 768px) {
  .mission-section {
    background: right 143px top 180px / 32% auto no-repeat
        url("../images/about-us-img.png"),
      right / auto 100% no-repeat url("../images/partnership-header-flip.svg");
  }
}

.mission-section__title {
  display: inline-block;
  font-family: "Manrope", san-serif;
  font-weight: 600;
  font-size: 1rem;
  /* 16px */
  line-height: 1.5;
  padding-bottom: 0.125rem;
  /* 2px */
  margin-top: 0;
  margin-bottom: 2.8125rem;
  /* 45px */
  color: #050608;
}

.mission-section__title--pink {
  border-bottom: 4px solid #f05f87;
}

.mission-section__highlight {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 1.625rem;
  /* 26px */
  line-height: 2.75rem;
  /* 44px */
  text-align: start;
  margin-bottom: 2.5rem;
  /* 40px */
}

.mission-section__description {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-align: start;
  margin-bottom: 3.125rem;
  /* 50px */
}

.btn--purple,
.btn--purple:hover,
.btn--green,
.btn--green:hover {
  color: #fff;
}

.btn--purple,
.btn--green {
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  border-radius: 3px;
}

.btn--purple,
.btn--purple:hover {
  padding: 0.75rem 1.875rem;
  /* 12px 30px */
  background: #4a557d;
  border: 1px solid #4a557d;
}

.btn--green,
.btn--green:hover {
  padding: 0.4375rem 2.1875rem;
  /* 7px 35px */
  background: #81c677;
  border: 1px solid #81c677;
}

.btn--margin-top.btn--purple {
  margin-top: 3.75rem;
  /* 60px */
}

.btn--margin-top.btn--green {
  margin-top: 3rem;
  /* 48px */
}

.team-section {
  padding-bottom: 0;
}

.team-section .row,
.committee-section .row {
  margin-left: -10px;
  margin-right: -10px;
}

.committee-section .row {
  margin-bottom: -20px;
}

.team-section h2,
.committee-section h2 {
  margin-top: 10px;
  margin-bottom: 70px;
  font-weight: 700;
}

.committee-card-wrapper,
.team-card-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.team-card-wrapper {
  margin-bottom: 110px;
}

.committee-card-wrapper {
  margin-bottom: 20px;
}

.team-card {
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.team-card:not(.team-card--mini) {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid #d5d9e6;
  box-sizing: content-box;
}

.team-card:hover {
  box-shadow: 0px 9px 18px rgba(74, 85, 125, 0.2);
}

.team-card--pink {
  border-bottom: 6px solid #f05f87 !important;
}

.team-card--yellow {
  border-bottom: 6px solid #f5bf2f !important;
}

.team-card--purple {
  border-bottom: 6px solid #6572a4 !important;
}

.team-card--green {
  border-bottom: 6px solid #65ba59 !important;
}

.team-card__image {
  display: block;
  width: 100%;
  border-radius: 3px 3px 5px 5px;
}

.team-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 2.125rem 1.3125rem;
  /* 20px 34px */
  flex-grow: 1;
}

.team-card-body__name,
.team-card-body__title,
.team-card-body__bio-toggle {
  text-align: center;
  margin: 0;
}

.team-card-body__name,
.team-card-body__title {
  color: #000000;
}

.team-card-body__name {
  font-weight: 600;
  font-size: 1rem;
  /* 16px */
  line-height: 1.25;
  margin-bottom: 3rem;
}

.team-card-body__title,
.team-card-body__bio-toggle {
  font-size: 0.8125rem;
  /* 13px */
  line-height: 1.5625rem;
  /* 25px */
}

.team-card-body__title {
  display: none;
}

.team-card-body__bio-toggle {
  bottom: 0;
  margin-top: auto;
}

.team-card-body__bio-toggle:hover {
  text-decoration: underline !important;
}

.join-team-section {
  background: url("../images/join-our-team-section.png") no-repeat right,
    #4a557d;
  background-size: auto 100%;
  padding-top: 3.75rem;
  /* 60px */
  padding-bottom: 14.0625rem;
  /* 225px */
}

.join-team-icon {
  margin-left: 6rem;
  margin-bottom: 3.375rem;
  /* 54px */
}

.join-team-highlight {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #f1f2f7;
  text-align: start;
  margin: 0;
  margin-top: 7.4375rem;
  font-family: "Lora", serif;
}

@media (min-width: 768px) {
  .profile-modal .modal-content {
    width: 33.25rem;
  }
}

.profile-modal .modal-content {
  padding: 1.25rem;
  border-radius: 10px;
  border-bottom: 11px solid #f05f87;
}

.profile-modal__close {
  position: absolute;
  top: 0.625rem;
  /* 10px */
  right: 0.625rem;
  /* 10px */
  width: 1.5rem;
  /* 24px */
  height: 1.5rem;
  /* 24px */
  cursor: pointer;
}

.profile-modal-header {
  display: flex;
}

.profile-modal-header__image {
  width: 100%;
  padding-top: 16px;
}

@media (min-width: 768px) {
  .profile-modal-header__image {
    padding-top: initial;
  }
}

.profile-modal-header__name {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
  color: #000000;
}

.profile-modal-header__title {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #000000;
  margin-bottom: 0;
  text-align: start;
}

.profile-modal-body p {
  font-size: 14px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 0;
  text-align: start;
}

.profile-modal-social {
  margin-top: 0.625rem;
}

.profile-modal-body {
  margin-top: 1.875rem;
  margin-bottom: 2.75rem;
}

.committee-section {
  padding-top: 0;
  padding-bottom: 10rem !important;
}

.committee-card,
.committee-card-list {
  display: flex;
  flex-direction: column;
}

.committee-card {
  height: 100%;
  padding: 10px;
  padding-left: 14px;
  background: #ffffff;
  border: 1px solid #d5d9e6;
  border-radius: 5px;
}

.committee-card__title {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 44px;
  text-align: center;
  color: #252939;
  margin: 0;
  margin-bottom: 27px;
}

.committee-card-list {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.committee-card-list__item {
  padding: 0 !important;
  display: inline-flex;
  font-family: Manrope;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  color: #000000;
  margin-bottom: 30px;
  cursor: pointer;
}

.committee-card-list__item::before {
  display: inline-block;
  content: "";
  min-width: 34px;
  height: 22px;
  background-position: left center;
  background-size: 14px 15px;
  background-repeat: no-repeat;
}

.committee-card--green {
  border-bottom: 6px solid #65ba59;
}

.committee-card--green .committee-card-list__item::before {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.81505 2.09481C2.01557 0.959359 3.1321 0.228195 4.25304 0.498276L12.1846 2.40931C13.2067 2.65558 13.8637 3.65122 13.688 4.68782L12.2914 12.9296C12.1004 14.0563 11.0058 14.7943 9.88962 14.5487L1.87325 12.7845C0.826251 12.5541 0.147135 11.5391 0.333578 10.4834L1.81505 2.09481Z' fill='%2381C677'/%3E%3C/svg%3E%0A");
}

.committee-card--yellow {
  border-bottom: 6px solid #f5bf2f;
}

.committee-card--yellow .committee-card-list__item::before {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.81505 2.09481C2.01557 0.959359 3.1321 0.228195 4.25304 0.498276L12.1846 2.40931C13.2067 2.65558 13.8637 3.65122 13.688 4.68782L12.2914 12.9296C12.1004 14.0563 11.0058 14.7943 9.88962 14.5487L1.87325 12.7845C0.826251 12.5541 0.147135 11.5391 0.333578 10.4834L1.81505 2.09481Z' fill='%23F5BF2F'/%3E%3C/svg%3E%0A");
}

.committee-card--pink {
  border-bottom: 6px solid #f05f87;
}

.committee-card--pink .committee-card-list__item::before {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.81505 2.09481C2.01557 0.959359 3.1321 0.228195 4.25304 0.498276L12.1846 2.40931C13.2067 2.65558 13.8637 3.65122 13.688 4.68782L12.2914 12.9296C12.1004 14.0563 11.0058 14.7943 9.88962 14.5487L1.87325 12.7845C0.826251 12.5541 0.147135 11.5391 0.333578 10.4834L1.81505 2.09481Z' fill='%23F05F87'/%3E%3C/svg%3E%0A");
}
