@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap");

.contact-header {
  font-family: "Lora", serif;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2.25rem;
  /* 36px */
  line-height: 2.75rem;
  /* 44px */
  color: #000000;
}

.contact-header--privacy-policy,
.contact-header--whistle-blowing {
  font-weight: 500;
  font-size: 2rem;
  /* 32px */
}

.hs-form * {
  box-sizing: border-box;
  color: #fff !important;
}

.contact-header--whistle-blowing::before {
  width: 36px;
  height: 37px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='37' viewBox='0 0 36 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.873291H26C31.5228 0.873291 36 5.35044 36 10.8733V36.8733H10C4.47715 36.8733 0 32.3961 0 26.8733V0.873291Z' fill='%23F05F87'/%3E%3Cpath d='M17.8028 21.3814C16.7859 21.3814 15.9585 22.2089 15.9585 23.2257C15.9585 24.2425 16.7859 25.07 17.8028 25.07C18.8196 25.07 19.647 24.2425 19.647 23.2257C19.647 22.2089 18.8196 21.3814 17.8028 21.3814ZM17.8028 23.8405C17.4634 23.8405 17.188 23.5638 17.188 23.2257C17.188 22.8876 17.4634 22.6109 17.8028 22.6109C18.1421 22.6109 18.4175 22.8876 18.4175 23.2257C18.4175 23.5638 18.1421 23.8405 17.8028 23.8405Z' fill='white'/%3E%3Cpath d='M19.7676 10.9036C19.4196 10.5299 18.9278 10.3159 18.4176 10.3159H17.1881C16.6779 10.3159 16.1873 10.5299 15.8393 10.9036C15.4914 11.2761 15.313 11.7815 15.3487 12.3003L15.8688 18.3581C15.9401 19.3639 16.786 20.1519 17.8028 20.1519C18.811 20.1519 19.6569 19.3638 19.727 18.3679L20.2569 12.2917C20.2938 11.7827 20.1155 11.2774 19.7676 10.9036ZM19.0324 12.1946L18.5012 18.2721C18.4754 18.6372 18.168 18.9225 17.793 18.9225C17.4266 18.9225 17.1205 18.6372 17.0934 18.2622L16.5745 12.2044C16.5622 12.0311 16.62 11.8663 16.738 11.7409C16.8561 11.6155 17.0159 11.5454 17.188 11.5454H18.4176C18.5897 11.5454 18.7495 11.6155 18.8676 11.7409C18.9856 11.8663 19.0434 12.0311 19.0324 12.1946Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-right: 1.25rem;
  /* 20px */
}

.contact-header--privacy-policy::before {
  width: 36px;
  height: 37px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='37' viewBox='0 0 36 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.873291H26C31.5228 0.873291 36 5.35044 36 10.8733V36.8733H10C4.47715 36.8733 0 32.3961 0 26.8733V0.873291Z' fill='%23F5BF2F'/%3E%3Cpath d='M17.8028 21.3814C16.7859 21.3814 15.9585 22.2089 15.9585 23.2257C15.9585 24.2425 16.7859 25.07 17.8028 25.07C18.8196 25.07 19.647 24.2425 19.647 23.2257C19.647 22.2089 18.8196 21.3814 17.8028 21.3814ZM17.8028 23.8405C17.4634 23.8405 17.188 23.5638 17.188 23.2257C17.188 22.8876 17.4634 22.6109 17.8028 22.6109C18.1421 22.6109 18.4175 22.8876 18.4175 23.2257C18.4175 23.5638 18.1421 23.8405 17.8028 23.8405Z' fill='white'/%3E%3Cpath d='M19.7676 10.9036C19.4196 10.5299 18.9278 10.3159 18.4176 10.3159H17.1881C16.6779 10.3159 16.1873 10.5299 15.8393 10.9036C15.4914 11.2761 15.313 11.7815 15.3487 12.3003L15.8688 18.3581C15.9401 19.3639 16.786 20.1519 17.8028 20.1519C18.811 20.1519 19.6569 19.3638 19.727 18.3679L20.2569 12.2917C20.2938 11.7827 20.1155 11.2774 19.7676 10.9036ZM19.0324 12.1946L18.5012 18.2721C18.4754 18.6372 18.168 18.9225 17.793 18.9225C17.4266 18.9225 17.1205 18.6372 17.0934 18.2622L16.5745 12.2044C16.5622 12.0311 16.62 11.8663 16.738 11.7409C16.8561 11.6155 17.0159 11.5454 17.188 11.5454H18.4176C18.5897 11.5454 18.7495 11.6155 18.8676 11.7409C18.9856 11.8663 19.0434 12.0311 19.0324 12.1946Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-right: 1.25rem;
  /* 20px */
}

.contact-text {
  font-weight: normal;
  font-size: 0.8125rem;
  /*13px*/
  line-height: 1.5625rem;
  /*25px*/
  color: #000000;
  text-align: left;
}

.hs-form * {
  box-sizing: border-box;
  color: #fff !important;
}

.muted {
  color: #4a557d !important;
}

.contact-form-section {
  background-color: #4a557d;
}

@media (min-width: 768px) {
  .contact-form-section {
    min-height: calc(100vh - 80px);
    /* 1440px */
    background: right / auto 100% url("../images/contact-us.png") no-repeat,
      #4a557d;
  }
}

.contact-form-section h2 {
  color: #fff !important;
}

.typography-header--contact h2.contact-header {
  margin-top: 0px;
}
