.accordion-body {
  padding-right: 40px;
  background-color: #f4f6ff;
}

.accordion-item .accordion-button {
  border: 0px;
  border-bottom: 1px solid #8b93af;
}

.accordion {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.accordion-body:not(.collapsed) {
  border: none;
}

.accordion-button:not(.collapsed) {
  background: white;
}

.accordion-header {
  margin-bottom: 0;
  margin: 0px !important;
}

.accordion-item h4 {
  margin: 10px 0px;
}
