@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800&display=swap');

html {
    overflow-x: hidden;
}

html, body {
    font-family: 'Manrope', sans-serif;
}

.container, .row, .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    margin: 0px;
    padding: 0px;
}

.global-padding {
    padding: 80px 130px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    box-sizing: border-box;
    height: 82px;
    border: 1px solid #F4F6FF;
    opacity: 0.8;
    background-color: #FFFFFF !important;
    box-shadow: 0 0 8px 0 rgba(26,29,39,0.14);
    padding: 0px 130px;
    z-index: 500;
}

.contact-us-btn {
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16);
    color: #252939;
    font-family: Manrope;
    font-size: 12px;
    height: 35px;
    width: 110px;
    /* padding: 2px; */
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;
    border-bottom: 2px solid #F05F87;
    margin-left: 130px;
}

section.landing-hero {
    padding: 0px 130px;
}

.landing-btn {
    border-radius: 5px;
    background-color: #4A557D;
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    padding: 10px 25px;
}

p.landing-p-1 {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0;
    margin: 20px 0px;
    line-height: 25px;
}

.landing-h1 span {
    font-weight: 100;
}

.nav-link {
    font-size: 12px;
    font-weight: 600;
    color: #000 !important;
}

.nav-item {
    margin-right: 20px;
    /* padding-top: 10px; */
}

h1.landing-h1 {
    color: #252939;
    font-family: Manrope;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 45px;
}

.logo {
    width: 120px;
    margin-right: 25px;
}

.landing-hero-div1 {
    padding-top: 90px;
}

img.img-responsive.hero-img {
    width: 800px;
    position: relative;
    top: -75px;
    z-index: 1;
    left: 30px;
}

.landing-p-2 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

.car-holder {
    min-height: 300px;
    background: #fff;
    max-width: 250px;
    width: 300px;
    border: 1px solid #D2D7E6;
    border-radius: 5px;
    background-color: #FFFFFF;
    border-top: none;
}

.first-card {
    border-bottom: 3px solid #81C677;
}

.second-card {
    border-bottom: 3px solid #F05F87;
}

.third-card {
    border-bottom: 3px solid #F5BF2F;
}

.card-text {
    font-size: 14px;
    text-align: left;
    padding: 25px;
    line-height: 25px;
    font-weight: 200;
}

.card-section {
    padding: 50px 70px;
}

.closing-the-gap.global-padding.text-center {
    background: #F4F6FF;
    position: relative;
    top: -140px;
}

.closing-the-gap-h2 {
    font-weight: 100;
    margin: 20px 0px;
    font-size: 32px;
    color: #252939;
    font-family: Manrope;
    letter-spacing: 0;
    line-height: 45px;
}

.closing-the-gap-h2 span {
    font-weight: 500;
}

.closing-the-gap-p {
    color: #252939;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 30px;
    text-align: center;
}

