.typography-header-news-events h1 {
  font-size: 2.25rem;
  /* 36px */
  line-height: 2.75rem;
  /* 44px */
}

.typography-header-news-events {
  background: right bottom / auto 100% no-repeat
      url("../images/about-us-header.svg"),
    #f4f6ff;
}

.event-loc-div{
  display: flex;
}

.mobile-break{
  display: none !important;
}

.btn-info.page {
  max-width: 55px;
  min-width: 55px;
  margin: 10px;
  padding: 7px;
  font-size: 12px;
  font-weight: 600;
  background: transparent;
  border: 1px solid #fff;
}

.active-btn {
  background: #F1F2F7 !important;
  border: 1px solid #F1F2F7 !important;
  color: #4a557d !important;
}

#pagination-button {
  text-align: center;
}

.btn-info.page:first-child {
  margin-left: 0px;
}

.event-image {
    max-width: 100%;
    max-height: 110px;
    min-height: 110px;
    object-fit: fill;
}

.events-card {
  max-height: 112px;
  min-height: 112px;
}

.event-p {
  margin: 10px 0px;
  max-height: 45px;
  min-height: 45px;
  font-family: Manrope;
  font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #4A557D;
}


.news-events-bg h1 {
  font-size: 2.25rem;
  /* 36px */
  line-height: 2.75rem;
  /* 44px */
}

.news-events-bg {
  background: right bottom / auto 100% no-repeat
      url("../images/about-us-header.svg"),
      #4A557D;
}

.event-card{
  max-height: 150px;
}

 .pagination {
  display: inline-block;
  margin-left: 10%;
}

.pagination li {
  color: white;
  float: left;
  padding: 3px 16px;
  text-decoration: none;
  border: 1px solid #F1F2F7;
  margin: 0px 10px;
}

.pagination li.active {
  background-color: #F1F2F7;
  color: white;
  color: #4A557D;
}

.pagination li:hover:not(.active) {background-color: #ddd;}

.wrapper{
  margin: 60px auto;
  text-align: center;
}
h1{
  margin-bottom: 1.25em;
}
#pagination-demo{
  display: inline-block;
  margin-bottom: 1.75em;
}
#pagination-demo li{
  display: inline-block;
}

.page-content{
  background: #eee;
  display: inline-block;
  padding: 10px;
  width: 100%;
  max-width: 660px;
}

@media( max-width: 575px){
  .news-section {
    display: none;
  }
}

@media( min-width: 575px){
  .non-carouse {
    display: none;
  }
}


@media (max-width: 768px) {
  .event-image {
    max-width: 100%;
    max-height: 200px;
    min-height: 200px;
    object-fit: fill;
}

.events-card {
  max-height: 400px;
  min-height: 400px;
}

.event-p {
  margin: 15px 0px;
    max-height: 100px;
    min-height: 100px;
}

.mobile-break{
    display: inline-block !important;
  }

  .event-loc-div{
    display: block;
    line-height: 0px;
  }
  
}